.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
  cursor: auto;
}

.Overlay.Show {
  display: block;
}

.Modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -550vh;
  left: 35%;
  background-color: #fff;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 10;
  cursor: auto;
  border-radius: 12px;
}

.Modal.Show {
  top: 30%;
}

.Close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 10px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  border: none;
  outline: none;
}
